.welcome-center {
    display: inline-block;
    position: relative;
    left:30%;
}
.Hostel-buttons{
    display:flex;
    justify-content: space-between;
}
.Hostel-buttons button{
    width:40%;
    height: 25vh; 
}
#girls{
    background-color: lightpink;
    border-radius: 5px;
    border:none;
}
#boys{
    background-color: lightblue;
    border-radius: 5px;
    border: none;
}
.login-center{
    display: inline-block;
    position: relative;
    left:30%;
}
.login-btn{
    width:80%;
    font-size: 20px;
    margin:10px;
}